<div class="container-fluid">
    <div class="row align-items-center">
        <h1 style="text-align: center; margin: 50px auto 0;">Check Weather</h1>
    </div>

    <div class="row align-items-center">
    <form >
        <input type="text" name="cityName" placeholder="Enter a city name..." [(ngModel)]="city">
        <button type="button" (click)="getWeather()">Get Weather</button>
    </form>

    <div *ngIf="weatherData">
        <h2>{{ weatherData.name }}</h2>
        <p>Temperature: {{weatherData.main.temp}}</p>
        <p>Humidity: {{weatherData.main.humidity}}</p>
        <p>Pressure: {{weatherData.main.pressure}}</p>
        <p>Wind Speed: {{weatherData.wind.speed}}</p>
        <p>Weather: {{weatherData.weather[0].description}}</p>
    </div>
    </div>               
</div>
